/* IMPOSTAZIONI GENERALI */
*{
    margin: 0;
    padding: 0;
}

:root{

--black : rgb(24,24,24);
--grey : rgb(38,38,38);
--white : rgb(255,255,255);
}

.textBlack{
    color: var(--black);
}

.textWhite{
    color: var(--white);
}

h1,h2,h3,h4,h5{
font-family: 'Roboto', sans-serif;

}

body{
    background-color: var(--grey);

}

p{
font-family: 'Schibsted Grotesk', sans-serif;
}



/* INSTA BEHOLD */
.colInsta{
  margin-top: 200px;
}


 





