:root{

    --black : rgb(24,24,24);
    --grey : rgb(38,38,38);
    --white : #fff;
    }
    
.textBlack{
    color: var(--black);
}

.textWhite{
    color: var(--white);
}


.swiper{
    width: 100%;
    height: 700px;
}

.imgSwiper{
    width: 100%;
}


